################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/myRTSPStreamer/bin
/myRTSPStreamer/obj/Debug
/myRTSPStreamer/obj/Release
/myRTSPStreamer/obj
