<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="myRTSPStreamer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <myRTSPStreamer.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="IpAddress" serializeAs="String">
                <value>192.168.1.140</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>554</value>
            </setting>
            <setting name="StreamPath" serializeAs="String">
                <value>live/0/MAIN</value>
            </setting>
            <setting name="SnapshotFolder" serializeAs="String">
                <value>c:\timelapse</value>
            </setting>
            <setting name="LastSnapshotDate" serializeAs="String">
                <value />
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="AutoSnapshot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Next_Image_Number" serializeAs="String">
                <value>1</value>
            </setting>
        </myRTSPStreamer.Properties.Settings>
    </userSettings>
</configuration>